{
  "dialog": {
     "password": "",
     "url": "https://gateway.watsonplatform.net/dialog/api",
     "username": ""
  },
  "text_to_speech": {
    "url": "https://stream.watsonplatform.net/text-to-speech/api",
    "password": "",
    "username": ""
  }
}
